
#sidebar-container, #sidebar-container > *  {
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

#sidebar-content {
  min-height: 100vh;
}

#sidebar-email {
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

.sidebar-email-container:hover > #sidebar-email {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

#sidebar-email:hover {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

#sidebar-icon-container {
  column-gap: 1.5rem;
}

/* Mobile Media Query  */
@media screen and (max-width: 768px) {
  .sidebar-icon-caption {
    visibility: visible !important;
  }
  
  #sidebar-summary {
    width: 55%;
  }
}

.sidebar-icon-caption{
  visibility: hidden;
}

.sidebar-icon {
  height: 32px;
  width: 32px;
}
