
#sidebar-container, #sidebar-container > *  {
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

#sidebar-content {
  min-height: 100vh;
}

#sidebar-icon-container {
  column-gap: 1.5rem;
}

.sidebar-icon-caption{
  visibility: hidden;
  transition: all 200ms ease-in;
}

/* Desktop Media Query */
@media screen and (min-width: 1024px){
  .sidebar-icon {
    height: 32px;
    width: 32px;
  }
}
/* Tablet Media Query */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar-icon {
    height: 128px;
    width: 128px;
  }
}

/* Mobile Media Query */
@media screen and (max-width: 767px) {
  .sidebar-icon {
    height: 48px;
    width: 48px;
  }
}
