
#sidebar-container, #sidebar-container > *  {
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

#sidebar-content {
  min-height: 100vh;
}

#sidebar-icon-container {
  column-gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .sidebar-icon-caption {
    visibility: visible !important;
  }
}

.sidebar-icon-caption{
  visibility: hidden;
}

.sidebar-icon {
  height: 32px;
  width: 32px;
}
