@import "~bootstrap/scss/functions"
@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/maps"
@import "~bootstrap/scss/mixins"
@import "~bootstrap/scss/utilities"

$olive: #54b883
$custom-colors: ("olive": $olive)
$theme-colors: map-merge($theme-colors, $custom-colors)

@import "~bootstrap/scss/utilities/api"
@import "~bootstrap/scss/bootstrap"
