@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container{
  background-image: url('./assets/space-background.jpeg');
  background-position: left center;
  height: 100vh !important;
}

#profile-container > .h1 {
  font-size: 5rem;
}

.btn-highlight-fill {
  background-color: white;
  color: #191919;
  
}

#name-button:hover {
  color: #191919;
  background-color: #f9c132;
  /* background-color: #0e6efb; */
}

@media (max-width: 500px) {

  #app-container{
    background-position: center center;
  }

  #profile-container > .h1 {
    font-size: 3rem;
  }
}