.btn-nav {
  border-color: #0a0a0a;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  height: auto;
}
.btn-nav:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #0a0a0a;
  z-index: -1;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}
.btn-nav:hover {
  color: #fff;
}
.btn-nav:hover:after {
  width: 110%;
}


.dark-btn-nav {
  border-color: white;
}

.dark-btn-nav:hover {
  color: #0a0a0a;
}

.dark-btn-nav:after {
  background: white;
}